Giochi di Manu & Gio/Wordle
Giochi di Manu & Gio/Platformer
Giochi di Manu & Gio/JavaTetris
Documenti/
.idea/
EthernetFrameII/
Wordle1/
Platformer/
JavaTetris/
Java/Swing/
*.dll
#Aggiungi ignoro per le license ( e gli additional license) e gli zip
*.zip
ADDITIONAL_LICENSE*
ASSEMBLY*
LICENSE*
*.md
*.jar
*.properties