body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 30px;
    height: 30px;
}

th, td {
    padding: 5px;
}

.tabella {
    padding-left: 300px;
}