.login{
    background-color: aqua;
    width: 300px;
    height: 250px;
    border-radius: 20px;
    padding-left: 20px;
}
h1{
    text-align: center;
}
.user-name{
    display: flex;
}
.user-password{
    display: flex;
}
button{
    width: 240px;
    height: 30px;
    align-items: center;
    border-radius: 10px;
}